<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.goxapps.goxreader"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <!--android:name="com.orm.SugarApp"-->
    <application
        android:name="com.goxapps.goxreader.GoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/gox_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >

        <meta-data
            android:name="DATABASE"
            android:value="sugar_gox.db"/>
        <meta-data
            android:name="VERSION"
            android:value="2"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.goxapps"/>

        <activity
            android:name=".reader.FullReaderActivity"
            android:label="@string/title_activity_full_reader">
        </activity>

        <activity
            android:name=".filechooser.ui.FileChooserActivity"
            android:label="@string/title_activity_file_chooser">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>
